<% if 1 != 1 %> <!-- change this depending on settings -->
	<% drafts = drafts.reverse %>
<% end %>
<% drafts.each do |draft| %>
	<div class="draft-block" data-id="<%= draft.id %>">
		<div class="tools">
			<%= link_to "<span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span>".html_safe, draft, remote: true, method: :delete, data: {confirm: "You sure you want to delete draft "+ draft.id.to_s}, class: 'delete-link' %> 
		</div>
		<div class="typography draft-preview ">
			<%= link_to draft.content.gsub("\n", "<br>").html_safe, draft_path(draft), remote: true %>
		</div>
	</div>
<% end %>

<script>



	$(".draft-block").click( function(e){
		if (e.target === this) { 		//necessary so this doesn't execute 
										//if we click delete link
			event.stopImmediatePropagation()
			$thisDraftId = $(this).attr("data-id");
		    $.ajax({
		      type: "GET",
		      url: "/drafts/"+$thisDraftId,
			  dataType : 'script' });
			$('#draftForm').data('currentdraft',$thisDraftId);
		}
	})

	$('.draft-block').hover(function(){
		$thisDraftId = $(this).attr("data-id");
		$currentDraftId = $('#draftForm').data('currentdraft')
		console.log('current: ' + $currentDraftId + ', other: ' + $thisDraftId)
		//compare
		$.ajax({
			type: "GET",
			url: "/drafts/compare",
			dataType: 'script',
			data: { current: $currentDraftId,
					other: $thisDraftId
			},
			error: function (){
				alert("Ajax error calling compare!")
			}

		});
	}, function(){
		$currentDraftId = $('#draftForm').data('currentdraft')
		$('#diff-container').hide();
		$('#form-container').show();
	})

</script>