<div id="draftForm" class="text-center" data-currentdraft="<%= editdraft.id %>">
	<%= form_for editdraft, remote: true do |f| %>
		<ul class="errors"></ul>
		<div class="form-group">
			<%= f.text_area :content, class: 'bigTextArea' %>
		</div>
		<%= f.submit "Save Draft", class: "btn btn-primary", id: 'formButton', style: 'display:none' %>
	<% end %>
</div>

<script>
console.log( "current draft: " + $('#draftForm').data('currentdraft') );

</script>

